# Ignore unnecessary folders
moonfo-youtube/
frontend-client copy/

/index.html
/index2.html
/index3.html
/index4.html


# Server/Client typical ignores
node_modules/
.env

.env.* 
dist/
build/

# OS & IDE files
.DS_Store
.vscode/
*.log
logs/
